.job-page {
    font-family: Arial, sans-serif;
    color: #234DB9;
    background-color: white;
    text-align: center;
}

.career-connect, .career-crafters {
    padding: 50px 0;
}

.career-connect {
    background-color: #D5E3F1; 
}

.career-crafters {
    background-color: #f8f9fa; }

h1 {
    margin-bottom: 20px;
}